.detalle-container {
  max-width: 600px;
  background-image: url('./violet-background-9mwt4pzxlu7g735p.jpg');
  border-radius: 8px;
  padding: 20px;
}
.alineacion-detalle{
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;  
  margin-left: 500px;     

}

.detalle-container h2 {
  color: white;
  margin-bottom: 20px;
}

.detalle-container img {
  max-width: 300px;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.detalle-container p {
  margin: 10px 0;
  font-size: 16px;
  color: white;
  
}
